
html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 1;
  }
  
  body {
    background-color: #FFFFFF;
    background-position: center top;
    background-size: cover;
    margin: 0;
  }
  
  .page-title {
    color: rgb(129, 2, 23);
    text-align: center;
    font-weight: 100;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }

  a{
    text-decoration: none;
    color: rgb(129, 2, 23);
  }
  
  .about-me {
    background-color: rgb(143, 8, 42);
    color: #FFFFFF;
    font-family: 'Nanum Gothic',sans-serif;
    padding: 2rem;
    text-align: left;
    line-height:1.2rem;
    font-size: .8rem;
    margin-left: 40rem;
    margin-right: 10rem;
    position: relative;
    top: 5rem;
    z-index: 2;
    
  }
  
  .landing-page {
    margin-top: 2rem;
  }
  
  .page-item .thumbnail {
  width: 40rem;
  margin-left: 13%;
  margin-top: 2rem;
  position: absolute;
  z-index: 1;
  }
  
  nav {
    text-align: center;
  }
  
  nav li {
    display: inline;
    margin: 0;
    padding: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
  }

  nav a {
    line-height: 4rem;
    font-size: .8rem;
    color: rgb(44, 44, 44);
    font-family: 'Saira', sans-serif;
    text-decoration: none;
  }

  .contact {
    margin-top:20rem;
    height: 20rem;
    background-color: rgb(40, 40, 40);
    text-align: center;
  }

  .contact-title {
    margin-top: 1rem;
    font-family: 'Barlow', sans-serif;
    color: #FFFFFF;
  }
  
  .contact-email{
    color:#FFFFFF
  }

  .contact .icon {
    display: inline-block;
    padding: 0;
    margin-top: 5rem;
    margin-bottom: 2rem;
}