title{
    font-family: 'Gill Sans', sans-serif;
    height: 100%;
    text-align: left;
    width: 100%;
}

body{
    font-family: georgia, serif;
    height: 100%;
    margin: 0;
    text-align: center;
    width: 100%;
}

h1{
    font-size:32px;
}

h2{
    color: ffffff;
    font-size: 56px;
}

.channel{
    background-image:
    url(https://mondrian.mashable.com/uploads%252Fcard%252Fimage%252F314361%252Fblckmirr987.jpg%252F950x534__filters%253Aquality%252890%2529.jpg?signature=4LXaNq6TqscQ61Pg0BTs0TFgHOM=&source=https%3A%2F%2Fblueprint-api-production.s3.amazonaws.com);
    background-position: center top;
    background-size: cover;
    padding: 250px 0;
    margin:30px;
    text-shadow: 0 2px #000000;
    font-family:'Trebuchet MS', 'Helvetica';
}

p{
    color: #ffffff;
    font-size: 2em;
}

.gallery{
    margin-top: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item{
    border: 20px solid #FFF;
    margin: 40px;
}

.gallery-item.thumbnail{

}

nav{
    background-color: #FFF;
}

nav li{
    display: inline;
    margin: 0;
    padding: 0 10px;
}

nav ul{
    float: right;
}
