
html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 1.5;
  }
  
  body {
    font-family:  'Major Mono Display', monospace;
    font-family: 'Cutive Mono', monospace; ;
    background-image: url('https://i.pinimg.com/originals/35/63/de/3563deb628aee34aa12c22ff839d4bc0.jpg');
    background-position: center top;
    background-size: cover;
    margin: 0;
  }
  
  .page-title {
    text-align: center;
    font-weight: 100;
    font-size: 5rem;
  }
  
  .page-description {
    font-family: 'Courier New', Courier, monospace
    padding: 30px;
    border: 1px solid #000;
    text-align: center;
    font-size: 1rem;
  }
  
  .gallery {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-item {
    border: 5px solid #FFF;
    margin: 20px;
  }
  
  .gallery-item .thumbnail {
  
  }
  
  /* FOOTER NAVIGATION */
  
  nav {
    background-color: #FFF;
  }
  
  nav li {
    display: inline;
    margin: 0;
    padding: 0 10px;
  }
  
  nav ul {
    display: inline;
  }
  
  .contact-btn {
    float: right;
  
  }
  
  .contact-btn a {
    margin-right: 30px;
    padding: 8px 18px;
    border: 1px solid #204156;
  
  }
  
  .contact-btn a:active {
    position: relative;
    bottom: 2px;
  }
  
  nav a {
    height: 60px;
    line-height: 60px;
    color: #204156;
    text-decoration: none;
  }
  
  