
html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 1;
  }
  
  body {
    background-color: #FFFFFF;
    background-position: center top;
    background-size: cover;
    margin: 0;
  }
  
  .page-title {
    text-align: center;
    font-weight: 100;
    font-size: 2.5rem;
    margin-bottom: 1rem;
    margin-top: 3rem;
  }

  a{
    text-decoration: none;
    color: rgb(129, 2, 23);
  }
  
  .demo-reel {
    color: rgb(85, 85, 85);
    font-family: 'Nanum Gothic',sans-serif;
    padding: 2rem;
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5rem;    
  }
  @media only screen and (min-width: 1025px){
    .demo-reel{
      margin-left: 22rem;
      margin-right: 22rem;
    }
  }

  .video-description {
    color: rgb(85, 85, 85);
    padding: 2rem;
    padding-top: 1rem;
    text-align: justify;
    font-size: .9rem;
    line-height: 1.2rem;
  }
  @media only screen and (min-width: 1025px){
    .video-description{
      margin-left: 23rem;
      margin-right: 23rem;
    }
  }

  .project-description {
    color: rgb(85, 85, 85);
    padding: 2rem;
    padding-top: 1rem;
    text-align: justify;
    font-size: .9rem;
    line-height: 1.2rem;
  }
  @media only screen and (min-width: 1025px){
    .project-description{
      margin-left: 25rem;
      margin-right: 25rem;
    }
  }
  
  .marketing-description {
    color: rgb(85, 85, 85);
    padding: .5 rem;
    padding-top: .2rem;
    text-align: justify;
    font-size: .9rem;
    line-height: 1.2rem;
    font-family: 'Saira', sans-serif;
  }

  @media only screen and (min-width: 1025px){
    .marketing-description{
      margin-left: 23rem;
      margin-right: 23rem;
    }
  }

  .video {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .video-item {
    display: block;
    margin-left: 10rem;
    margin-right: 10rem;
  }
  
  nav {
    text-align: center;
  }
  
  nav li {
    display: inline;
    margin: 0;
    padding: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
  }

  nav a {
    line-height: 4rem;
    font-size: .8rem;
    color: rgb(85, 85, 85);
    font-family: 'Saira', sans-serif;
    text-decoration: none;
  }

  .contact {
    height: 20rem;
    background-color: rgb(40, 40, 40);
    text-align: center;
    margin-top: 4rem;
  }

  .contact-title {
    margin-top: 1rem;
    font-family: 'Barlow', sans-serif;
    color: #FFFFFF;
  }
  
  .contact-email{
    color:#FFFFFF
  }

  .contact .icon {
    display: inline-block;
    padding: 0;
    margin-top: 5rem;
    margin-bottom: 2rem;
}

  .embed-responsive {
    position: relative;
    display: block;
    width: 50%;
    padding: 0;
    overflow: hidden;
  }

  .elephant{
    margin-top: 2rem;
    margin-bottom: 5rem;
  }

  .elephant .thumbnail{
    display: block;
    width:30%;
    margin-left: auto;
    margin-right: auto;
  }

  .gif{
    width:40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .image-wrapper {
    box-sizing:border-box;
    float: left;
    margin-bottom:5px;
    width: 50%;
  }
  
  .image-wrapper:nth-child(even)
  {
    padding-left:5px;
  }
  
  .image-wrapper:nth-child(odd)
  {
    padding-right:5px;
  }
  
  .image-wrapper > img {
    width: 100%;
  }

  .sachack {
    margin-top: 2rem;
  }
  .sachack .thumbnail {
    display: block;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .ascenducd {
    margin-top: 2rem;
  }
  .ascenducd .thumbnail {
    display: block;
    width:50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 2rem;
  }
 