<!DOCTYPE html>
<html lang="en">
<head>
    {{ partial "head.html" . }}
    {{/*  imports "head.html" from the partials/ folder in layouts/  */}}
    {{/*  the second argument is the context for variables in "head.html" and using "." means use the same variable namespace as this document  */}}
</head>
<body>
    {{ partial "navbar.html" (dict "context" . "originPage" "project") }}
    <div>
        <h1>{{ .Title }}</h1>
        
        {{/*  Each project has either a project image or a project video  */}}
        {{/*  The code below checks if there's a project video, and if so checks the type  */}}
        {{/*  Youtube videos and Vimeo videos are handled differently. If you have another video type 
            then you'll need to add code to handle that new video type  */}}
        {{/*  If there's no project video, the project image is displayed in the header  */}}
        {{ if .Params.projectVideo }}
            {{ if eq .Params.projectVideoType "youtube" }}
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ .Params.projectVideo  }}?modestbranding=0&showinfo=0&rel=0" frameborder="0" allow="encrypted-media; picture-in-picture; fullscreen" allowfullscreen></iframe>    
                </div>
                {{ else if eq .Params.projectVideoType "vimeo" }}
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/{{ .Params.projectVideo  }}?title=0&byline=0&portrait=0"  frameborder="0" allow="encrypted-media; picture-in-picture; fullscreen" allowfullscreen style="align: auto; width: 100%;"></iframe>
                    </div>
                {{ else if eq .Params.projectVideoType "" }}
                    <p>projectVideoType not entered!!! </p>
                {{ else }}
                    <p>video streaming platform not yet supported! TODO: add code here for your new video platform</p>
            {{ end }}
        {{ else }}
            {{ if .Params.projectImage }}
                {{ $img:= .Resources.GetMatch .Params.projectImage }}
                <img src="{{ $img.RelPermalink }}" />
            {{ else }}
                <p>THERE IS NO PROJECT IMAGE OR PROJECT VIDEO ASSOCIATED WITH THIS PROJECT!!!</p>
                <p>TODO: ADD A PROJECT IMAGE OR PROJECT VIDEO</p>
        {{ end }}
        {{ end }}
        {{ .Content }}
        {{/*  You can add more images and videos in the content as well! 
            Do that in the .md file for the project  */}}
     </div>
    </div>
    
</body>
</html>