/* for card layout */
.gallery-row {
    margin-bottom: 2rem;
}

.card-body a{ /* changes the style of a only when it's inside of card-body */
    text-decoration: none;
    color: black;
}

.card-body a:hover{ /* changes the style of a ON HOVER and only when it's inside of card-body */
    color: blueviolet;
}

.video {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.page-description {
    text-align: center;
}

.content-video{
    max-width: 40rem;
}