<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html"><h1>Vicky Ooi</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item {{ if eq .originPage `home` }} active {{ end }}">
            {{/*  active means this is the current page  */}}
            {{/*  using ` quotes around "home" because I'm already inside of a quote  */}}
                <a class="nav-link" href="/index.html">VIDEO
                    {{ if eq .originPage `home` }} 
                        <span class="sr-only">(current)</span>
                    {{ end }}
                </a>
                {{/*  sr-only means that it will only display "(current)" if the person is uing a screenreader  */}}
                {{/*  /index.html means the path is based on the root folder rather than based on the path relative to the folder in which this HTML file is  */}}

            </li>
            <li class="nav-item {{ if eq .originPage `aboutMe` }} active {{ end }}">
                <a class="nav-link" href="/about-me/">DESIGN
                    {{ if eq .originPage `aboutMe` }} 
                        <span class="sr-only">(current)</span>
                    {{ end }}
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">PHOTOGRAPHY</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">MARKETING</a>
            </li>
            </ul>
        </div>
    </nav>
    