
html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 1;
  }
  
  body {
    background-color: #FFFFFF;
    background-position: center top;
    background-size: cover;
    margin: 0;
  }
  
  .page-title {
    text-align: center;
    font-weight: 100;
    font-size: 2.5rem;
    color: rgb(129, 2, 23);
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  
  .page-description {
    background-color: rgb(143, 8, 42);
    color: #FFFFFF;
    font-family: 'Nanum Gothic',sans-serif;
    padding: 2rem;
    text-align: center;
    font-size: 1rem;
    margin-left: 27rem;
    margin-right: 27rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }
  
  .gallery {
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .gallery-item .thumbnail {
  width: 30rem;
  }
  
  nav {
    text-align: center;
  }
  
  nav li {
    display: inline;
    margin: 0;
    padding: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
  }

  nav a {
    line-height: 4rem;
    font-size: .8rem;
    color: rgb(44, 44, 44);
    font-family: 'Saira', sans-serif;
    text-decoration: none;
  }

  .contact {
    height: 15rem;
    background-color: rgb(85, 85, 85);
    text-align: center;
  }

  .contact-title {
    line-height: 12rem;
    font-family: 'Barlow', sans-serif;
    color: #FFFFFF;
  }
  