
html, body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    font-weight: 300;
    line-height: 1;
  }
  
  body {
    background-color: #FFFFFF;
    background-position: center top;
    background-size: cover;
    margin: 0;
  }
  
  .page-title {
    text-align: center;
    font-weight: 100;
    font-size: 2.5rem;
    color: rgb(129, 2, 23);
    margin-bottom: 1rem;
    margin-top: 3rem;
  }
  
  .demo-reel {
    color: rgb(85, 85, 85);
    font-family: 'Nanum Gothic',sans-serif;
    padding: 2rem;
    padding-top: 1rem;
    text-align: center;
    font-size: 1.5rem;
    margin-left: 22rem;
    margin-right: 22rem;
    margin-bottom: 5rem;    
  }

  .page-description {
    color: rgb(85, 85, 85);
    font-family: 'Nanum Gothic',sans-serif;
    padding: 2rem;
    padding-top: 1rem;
    text-align: left;
    font-size: .9rem;
    margin-left: 23rem;
    margin-right: 23rem;
    margin-bottom: 5rem; 
  }
  
  .video {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .video-item {
    display: block;
    margin-left: 10rem;
    margin-right: 10rem;
  }
  
  nav {
    text-align: center;
  }
  
  nav li {
    display: inline;
    margin: 0;
    padding: 0;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
  }

  nav a {
    line-height: 4rem;
    font-size: .8rem;
    color: rgb(85, 85, 85);
    font-family: 'Saira', sans-serif;
    text-decoration: none;
  }

  .contact {
    height: 15rem;
    background-color: rgb(44, 44, 44);
    text-align: center;
  }

  .contact-title {
    line-height: 12rem;
    font-family: 'Barlow', sans-serif;
    color: #FFFFFF;
  }
  